

.inline{
    display: inline;
}

.container{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userAns{
    height: 35px;
}

.btnContainer{
    display: grid;
	grid-template-columns: auto auto auto;
}

.btnStyle{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin: 5px;
}
.nextbtn{
    height: 50px;
    width: 75px;
	margin-top: 25px;
}
.qnsdisplayed{
    margin: 5px;
}

.timeDisplay{
    display: block;
    border: 1px solid red;
    width: 75px;
    inline-size: 70px;
	/* max-width: 75px; */
}

.green{
    background-color: rgb(61, 201, 61);
}
